{% extends 'base.html' %}
{% load i18n %}


{% block title %}{% trans 'Login' %}{% endblock %}

{% block content %}
<div class="form-group">
    <a href="{% url 'signup' %}"class="btn btn-primary btn-sm">{% trans 'Signup' %}</a>
    <a href="{% url 'AnonymisedFirmwareUpdates' %}"class="btn btn-info btn-sm">{% trans 'Firmware Updates Stats' %}</a>
    <a href="https://github.com/mehdirahbe/matesla" target="_blank" class="btn btn-primary btn-sm">Matesla Github</a>
  </div>

<h2>{% trans 'Login' %}</h2>
<div class="form-group">
<form method="post">
  {% csrf_token %}
    <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"></span>
  </div>
  {{ form.as_p }}
</div>
  <button type="submit"class="btn btn-primary">{% trans 'Login' %}</button>
</form>
  </div>
<div class="form-group">
{% trans 'MaTesla is a Python/django free open source website using tesla api to connect to your marvellous Tesla car, have information on its state, location and remote control charge, temperature,... Statistics on firmware updates are also available.' %}
    <BR/>{% trans 'Have fun and you are the most welcome if you want to contribute :-)' %}
  </div>
{% endblock %}