{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<h2>{% trans 'Password reset' %}</h2>
<div class="form-group">
    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">{% trans 'Send e-mail' %}</button>
    </form>
</div>
{% endblock %}