{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block content %}
<h2>{% trans 'Password reset done' %}</h2>
  <p>
    {% trans 'We&#39;ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
  </p>
  <p>
    {% trans 'If you don&#39;t receive an email, please make sure you&#39;ve entered the address you registered with, and check your spam folder.' %}
  </p>

  <p>
    {% trans 'You can now close this window' %}
  </p>

{% endblock %}
