{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}

<!--lazy load comes from https://web.dev/codelab-use-lazysizes-to-lazyload-images/,
proposed by chrome when doing tests on the page-->

{% block cssstyle %}
{% endblock %}

{% block content %}
                    <div>
                        <h5>{%trans 'Monitored Tesla Superchargers (SuCs)'%}</h5>
<table>
                    <tr>
                        <th>SuC name</th>
                        <th>Num observations</th>
                        <th>Total stalls</th>
                        <th>Min available stalls</th>
                        <th>Max available stalls</th>
                    </tr>
                        {% for row0 in rows %}
                    <tr>
                        <td><a href="https://www.google.com/maps/search/?api=1&query={{ row0.5|unlocalize }},{{ row0.6|unlocalize }}" rel="noopener noreferrer" target="_blank" class="btn btn-secondary btn-sm">{{ row0.0 }}</a></td>
                        <td>{{ row0.1 }}</td>
                        <td>{{ row0.2 }}</td>
                        <td>{{ row0.3 }}</td>
                        <td>{{ row0.4 }}</td>
                            {% endfor %}
                    </tr>
        </table>
                        <a href="{% url 'SuCStatsMonitoredSuCsAsCSV' %}"class="btn btn-info btn-sm">{% trans 'Download Stats' %}</a>
                    </div>

{% endblock %}

{% block javascript %}
{% endblock %}
