{% extends 'base.html' %}
{% load i18n %}

        {% block cssstyle %}
        /*to avoid cut images, from https://www.w3schools.com/css/css_rwd_images.asp
        +https://www.cssmine.com/ebook/css3-media-queries
        Image is 400 pixels wide, see view in carimage*/
        @media (max-width: 400px) {
         img {
                  width: 100%;
                  height: auto;
                }
        }

        .parameters_page_part {
            display: inline-grid;
            padding: 1mm;
            grid-auto-flow: row;
        }

        .login_part {
            display: inline-grid;
            padding: 1mm;
            grid-auto-flow: row;
        }

        .generalinfos_part {
            display: inline-grid;
            padding: 1mm;
            grid-auto-flow: row;
        }

        .charge_part {
            display: inline-grid;
            padding: 1mm;
            grid-auto-flow: row;
        }
        @media (min-width: 600px) {
            .charge_part {
                grid-template-columns: auto auto;
            }
        }

        .drive_part {
            display: inline-grid;
            padding: 1mm;
            grid-auto-flow: row;
        }
        .clim_part{
            display: inline-grid;
            padding: 1mm;
            grid-auto-flow: row;
        }

        .info_label_value {
            display: inline-grid;
            grid-template-columns: auto auto;
            padding: 1mm;
        }

        .info_label {
            padding: 1mm;
            text-align: left;
        }
        .info_value {
             font-style:italic;
            font-variant-caps:all-small-caps;
           padding: 1mm;
            text-align: right;
        }

        .commands_part {
            display: inline-grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            grid-auto-flow: row;
            padding: 1mm;
        }

        .commands_part_cmd {
            padding: 5px;
            text-align: center;
        }
        <!--taken from bootstrap carousel sample,
        https://getbootstrap.com/docs/4.4/examples/carousel/carousel.css-->
        /* Carousel base class */
        .carousel {
          margin-bottom: 4rem;
        }
        /* Since positioning the image, we need to help out the caption */
        .carousel-caption {
          top: 0rem;
          z-index: 10;
        }

        /* Declare heights because of positioning of img element */
        /*The minimum to see all in charge item (when car is in charge) is 40,
        when displayed in 1 col=devices with small width, ie smartphone held
        vertically.*/
        .carousel-item {
          height: 40rem;
        }
        @media (min-width: 600px) {
            .carousel-item {
              height: 30rem;
            }
        }
        .carousel-item > img {
          position: absolute;
          top: 0;
          left: 0;
          min-width: 100%;
        }
        {% endblock %}

{% block content %}
<div class="parameters_page_part">
    <div class="form-group">
        <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">{% trans 'logout' %}</a>
        <a href="{% url 'AddTeslaAccount' %}" class="btn btn-primary btn-sm">{% trans 'Tesla account' %}</a>
        <a href="{% url 'AnonymisedStatsChoicePage' %}" target="_blank" class="btn btn-info btn-sm">{% trans 'Firmware and cars Stats' %}</a>
        <a href="{% url 'SuCStatsMonitoredSuCs' %}" target="_blank" class="btn btn-info btn-sm">{% trans 'Superchargers (SuCs)  Stats' %}</a>
        <a href="https://github.com/mehdirahbe/matesla" rel="noopener noreferrer" target="_blank" class="btn btn-primary btn-sm">Matesla Github</a>
    </div>

    {% if IsLocalHost %}
    <h6>{% trans 'You are on local computer, only used to test new developments.'%}
        {% trans 'Please go on official site instead <a href="https://matesla.herokuapp.com" class="btn btn-danger btn-sm">https://matesla.herokuapp.com</a></h6>'%}
    {% endif %}
    {% if Isafternoonscrubland %}
    <h6>{% trans 'You are on afternoon-scrubland-61531.herokuapp.com, only used to test deployment.'%}
        {% trans 'Please go on official site instead <a href="https://matesla.herokuapp.com" class="btn btn-danger btn-sm">https://matesla.herokuapp.com</a></h6>'%}
    {% endif %}


    <!--Inspired from https://getbootstrap.com/docs/4.4/examples/carousel/
    and extended to 5 parts
    data-interval put to 1 day because it is annoying to have that moving when you are looking
    at something.-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="86400000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#443737"/>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-center">
                        <h5>{%trans 'Your car'%} {{display_name}}</h5>
                        <img src="{% url 'CarImageFromTesla' colorcode wheel_type car_type %}" alt="Image of your tesla" width="400" height="224">
                    <div class="commands_part">
                        <div class="commands_part_cmd"><a href="{% url 'flash_lights' %}" class="btn btn-primary btn-sm">{% trans 'Flash lights' %}</a></div>
                        <div class="commands_part_cmd"><a href="{% url 'honk_horn' %}" class="btn btn-primary btn-sm">{% trans 'Honk horn (not night when people sleep)' %}</a></div>
                        <div class="commands_part_cmd"><a href="{% url 'remote_start_drive' %}" class="btn btn-primary btn-sm">{% trans 'Activate drive mode without phone/card' %}</a></div>
                        <div class="commands_part_cmd"><a href="{% url 'PersoStats' hashedVin %}" target="_blank" class="btn btn-info btn-sm">{% trans 'My data' %}</a></div>
                        <div class="commands_part_cmd"><a href="{% url 'teslastatusJson' %}" target="_blank" class="btn btn-info btn-sm">{% trans 'Json current data' %}</a></div>
                        <div class="commands_part_cmd"><a href="{% url 'PersoStatsFirmwareHistory' hashedVin %}" target="_blank" class="btn btn-info btn-sm">{% trans 'Firmware history' %}</a></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#443737"/>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h5>{%trans 'General information'%}</h5>
                        <div class="generalinfos_part">
                            <div class="info_label_value">
                                <div class="info_label"><a href="https://teslatap.com/vin-decoder/" rel="noopener noreferrer" target="_blank" class="btn btn-secondary btn-sm">Vin</a></div>
                                <div class="info_value">{{vin}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'State' %}</div>
                                <div class="info_value">{{state}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Is car locked' %}</div>
                                <div class="info_value">
                                    {% if locked is True %}
                                    <a href="{% url 'unlock_car' %}" class="btn btn-secondary btn-sm">{% trans 'Yes, unlock?' %}</a>
                                    {% else %}
                                    <a href="{% url 'lock_car' %}" class="btn btn-secondary btn-sm">{% trans 'No, lock?' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Car type' %}</div>
                                <div class="info_value">{{car_type}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Exterior color' %}</div>
                                <div class="info_value">{{exterior_color}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Wheel' %}</div>
                                <div class="info_value">{{wheel_type}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Firmware version' %}</div>
                                <div class="info_value">{{car_version}}</div>

                            {% if hasUpdateReady %}
                            <div class="commands_part_cmd"><a href="{% url 'install_software_update' %}" class="btn btn-primary btn-sm">{% trans 'Install ' %}{{UpdateVersion}}</a></div>
                            {% endif %}
                            {% if hasUpdateScheduled %}
                                <div class="info_label">{% trans 'New firmware version' %} {{UpdateVersion}} {% trans 'is scheduled in ' %}{{UpdateVersionTimeSeconds}} {% trans 'seconds' %}</div>
                            {% endif %}
                            {% if hasUpdateInstalling %}
                                <div class="info_label">{% trans 'New firmware version' %} {{UpdateVersion}} {% trans 'is installing, ' %}{{UpdateVersionInstallPerc}} {% trans '% already done' %}</div>
                            {% endif %}

                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Sentry' %}</div>
                                <div class="info_value">
                                    {% if sentry_mode is True %}
                                    <a href="{% url 'sentry_stop' %}" class="btn btn-secondary btn-sm">{% trans 'Active, stop?' %}</a>
                                    {% else %}
                                    <a href="{% url 'sentry_start' %}" class="btn btn-secondary btn-sm">{% trans 'Inactive, start?' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Valet mode' %}</div>
                                <div class="info_value">{% if valet_mode is True %}
                                    <a href="{% url 'valet_stop' %}" class="btn btn-secondary btn-sm">{% trans 'Active, stop?' %}</a>
                                    {% else %}
                                    <a href="{% url 'valet_start' %}" class="btn btn-secondary btn-sm">{% trans 'Inactive, start?' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#443737"/>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h5>{%trans 'Charge status'%}</h5>
                        <div class="charge_part">
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Usable battery level (%)' %}</div>
                                <div class="info_value">{{usable_battery_level}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Battery level (%)' %}</div>
                                <div class="info_value">{{battery_level}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Battery range km' %}</div>
                                <div class="info_value">{{batteryrange}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Battery charge' %}</div>
                                <div class="info_value">{{charging_state}}</div>
                            </div>
                            {%if batterydegradation is not None%}
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Battery degradation (%)' %}</div>
                                <div class="info_value">{{batterydegradation}}</div>
                            </div>
                            {%endif%}
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Battery charge limit (%)' %}</div>
                                <div class="info_value"><a href="{% url 'getdesiredchargelevel' %}" class="btn btn-secondary btn-sm">{{charge_limit_soc}}</a>
                                </div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Charge port' %}</div>
                                <div class="info_value">{{charge_port_type}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Is Charge port open' %}</div>
                                <div class="info_value">
                                    {% if charge_port_door_open is True %}
                                    <a href="{% url 'chargeport_close' %}" class="btn btn-secondary bt n-sm">{% trans 'Yes, close?'%}</a>
                                    {% else %}
                                    <a href="{% url 'chargeport_open' %}" class="btn btn-secondary btn-sm">{% trans 'No, open?' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% if charging_state != "Disconnected" %}
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Voltage in V' %}</div>
                                <div class="info_value">{{charger_voltage}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Current in A' %}</div>
                                <div class="info_value">{{charger_actual_current}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Power in kW' %}</div>
                                <div class="info_value">{{charger_power}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Number of phases' %}</div>
                                <div class="info_value">{{charger_phases}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Time left in minutes' %}</div>
                                <div class="info_value">{{minutes_to_full_charge}}</div>
                            </div>

                            {% if charging_state != "Charging" %}
                            <div class="commands_part_cmd"><a href="{% url 'charge_start' %}" class="btn btn-primary btn-sm">{% trans 'Start charge' %}</a></div>
                            {% else %}
                            <div class="commands_part_cmd"><a href="{% url 'charge_stop' %}" class="btn btn-primary btn-sm">{% trans 'Stop charge' %}</a></div>
                            {% endif %}


                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#443737"/>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h5>{%trans 'Drive and location'%}</h5>
                        <div class="drive_part">
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Speed' %}</div>
                                <div class="info_value">{{speed}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Location' %}</div>
                                <div class="info_value"><a href="{{linktogooglemaps}}" rel="noopener noreferrer" target="_blank" class="btn btn-secondary btn-sm">{{location}}</a>
                                </div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Odometer' %}</div>
                                <div class="info_value">{{OdometerInKm}} km</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'Estim. number of battery cycles' %}</div>
                                <div class="info_value">{{NumberCycles}}</div>
                            </div>
                            <div class="info_label_value">
                                <div class="info_label">{% trans 'EPA Range (miles)' %}</div>
                                <div class="info_value"><a href="https://www.fueleconomy.gov/feg/Find.do?action=sbs&id=41189" rel="noopener noreferrer" target="_blank" class="btn btn-secondary btn-sm">{{EPARangeMiles}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#443737"/>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h5>{%trans 'Climate information'%}</h5>
                        <div class="clim_part">
                          <div class="info_label_value">
                              <div class="info_label">{% trans 'Is climate on' %}</div>
                              <div class="info_value">
                                  {% if is_climate_on is True %}
                                  <a href="{% url 'stop_climate' %}" class="btn btn-secondary btn-sm">{% trans 'Yes, stop?' %}</a>
                                  {% else %}
                                  <a href="{% url 'start_climate' %}" class="btn btn-secondary btn-sm">{% trans 'No, start?' %}</a>
                                  {% endif %}
                              </div>
                          </div>
                          <div class="info_label_value">
                              <div class="info_label">{% trans 'Inside temperature' %}</div>
                              <div class="info_value">{{inside_temp}}</div>
                          </div>
                          <div class="info_label_value">
                              <div class="info_label">{% trans 'Outside temperature' %}</div>
                              <div class="info_value">{{outside_temp}}</div>
                          </div>
                          <div class="info_label_value">
                              <div class="info_label">{% trans 'Driver Temperature setting' %}</div>
                              <div class="info_value"><a href="{% url 'getdesiredtemperature' %}" class="btn btn-secondary btn-sm">{{driver_temp_setting}}</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endblock %}