{% extends 'base.html' %}
{% load i18n %}

{% block cssstyle %}
        @media (max-width: 1500px) {
         img { width: 100%; height: auto; }
        }
        .carousel { margin-bottom: 1rem; }
        .carousel-caption { top: 0rem; z-index: 10; }
        .carousel-item { height: 40rem; }
        .carousel-item > img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
        }
{% endblock %}

{% block content %}
{% include 'matesla/_vehicle_chrome.html' %}
{% include 'personalstats/_carstats_body.html' %}
{% endblock %}

{% block javascript %}
{% include 'personalstats/_carstats_js.html' %}
{% endblock %}
